@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');

html, body{
margin: 0;
padding: 0;
background: #F1F3F4;
}

.App {
  font-family: 'Roboto', sans-serif;
}

.App-header {
  background-image: url('./bg1.svg');
  max-height: 1244px;
  height: 200vh;
  background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.App-center{
  margin: 0px auto;
  display: flex;
  max-width: 500px;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  max-height: 80%;
}

.App-title {
  letter-spacing: 2px;
  margin-left: 50px;
  font-weight: 100;
  width: 200px;
}
.App-subtitle1{
  font-size: 30px;
  text-transform: uppercase;
}
.App-subtitle2{
  margin-top: 10px;
  font-size: 15px;
}

.App-stars {
  display: flex;
  width: 100%;
  height: calc(100% - 100vh);
  min-height: 20%;
  align-items: center;
  position: relative;
}
.Star{
  background-image: url("./star.svg");
  background-repeat: no-repeat;
}
.Star1{
  position: absolute;
  top: 10%;
  left: 20%;
  width: 150px;
  height: 135px;
  background-size: 150px 135px;
}
.Star2{
  position: absolute;
  top: 0%;
  left: 50%;
  width: 50px;
  height: 45px;
  background-size: 50px 45px;
}
.Star3{
  position: absolute;
  top: 60%;
  right: 30%;
  width: 75px;
  height: 67px;
  background-size: 75px 67px;
}

.Case{
  width: 80%;
  max-width: 950px;
  background: #ffffff;
  border-radius: 20px;
  padding: 50px;
  margin: 100px auto 0px auto;
  overflow: auto;
  box-sizing: border-box;
}

.Case-image{
  float: left;
  margin-right: 10%;
  width: 40%;
}
.Case-title{
  font-size: 24px;
  letter-spacing: -.29px;
  line-height: 34px;
  font-weight: 100;
}
.Case-details{
  font-weight: 100;
  margin-top: 20px;
  font-size: 14px;
  letter-spacing: .24px;
  line-height: 30px;
}
.Invisible{
  opacity: 0;
  transform: translateY(30);
}
.Footer-content{
  width: 80%;
  padding: 50px;
  max-width: 950px;
  height: 200px;
  background: #19A1BE;
  border-radius: 20px;
  margin: 100px auto 200px auto;
  box-sizing: border-box;
  box-shadow: 50px 50px 110px 0px rgba(0,0,0,0.29);
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
  text-align: center
}
.Footer-linkedin, a, a:visited, a:active{
  margin: 20px auto;

  color: white;
  padding-bottom: 5px;
  text-decoration: none;
  width: 150px;
  font-size: 30px;
  border-bottom: 1px solid #ffffff;
}

@media screen and (max-width: 600px) {
  .App-center{
    flex-direction: column;
    justify-content: center;
  }
  .App-title{
    margin-left: 0px;
    margin-top: 20px;
    text-align: center;
  }
  .Case{
    width: 80%;
    max-width: 950px;
    padding: 25px;
    margin: 100px auto 0px auto;
  }
  .Footer-content{
    width: 80%;
    max-width: 950px;
    padding: 25px;
  }
}
@media screen and (max-width: 450px) {
  .Case-image{
    float: none;
    width: 100%;
  }
}